

body {
    margin: 0;
    padding: 0;
}
* {
    color: var(--text-primary);
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
    background-color: var(--bg-primary);
    display: flex;
}
